:root {
    --color-principal: rgb(53, 174, 174);
    --color-footer: rgb(0, 121, 121);
    --fondo-blanco: white;
    --color-secundario: rgb(17, 172, 172);
    --borde-claro: rgb(255, 224, 197);
    --fondo-claro: rgb(255, 240, 228);
}