---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <main class="container">
        <section class="row">
            <div class="col">columna 1</div>
            <div class="col">columna 2</div>
        </section>
    </main>
</Layout>