---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";

import './productos.css'
---

<Layout titulo="Productos - Puppis clone">
    <main class="container">
        <h2 class="section-title">Nuestro Catálogo</h2>
        
        <div class="filter-bar">
            <div class="filter-tags">
                <a href="#" class="filter-tag active">Todos</a>
                <a href="#" class="filter-tag">Perros</a>
                <a href="#" class="filter-tag">Gatos</a>
                <a href="#" class="filter-tag">Alimentos</a>
                <a href="#" class="filter-tag">Accesorios</a>
            </div>
            <div style="font-size: 14px; font-weight: 600; color: #666;">6 productos encontrados</div>
        </div>

        <div class="products-grid">
            <!-- Producto 1 -->
             <ProductCard  
                badge={true}
                productImage="🍖"
                badgeDiscount={10}
                productBrand="Royal Canin"
                productTitle="Alimento Mini Adulto para Perros - 7,5 Kg"
                productPrice="$84.600"
                buttonUrl="ver-producto.html"
            />

            <!-- Producto 2 -->
             <ProductCard  
                productImage="🥫"
                productBrand="Pro Plan"
                productTitle="Alimento Gato Adulto Pollo y Arroz - 3 Kg"
                productPrice="$38.900"
            />
            <!-- Producto 3 -->
             <ProductCard  
                badge={true}
                productImage="💎"
                badgeDiscount={30}
                productBrand="Puppis"
                productTitle="Piedras Sanitarias Silica Gel Lavanda - 3.8 L"
                productPrice="$17.000"
            />

            <!-- Producto 4 -->
             <ProductCard  
                productImage="🛏️"
                productBrand="Animal Pet"
                productTitle="Manta Polar Soft para Perro y Gato Gris"
                productPrice="$8.400"
            />

            <!-- Producto 5 -->
             <ProductCard  
                productImage="🥎"
                productBrand="Zee.Dog"
                productTitle="Pelota de Goma de Alta Resistencia"
                productPrice="$9.200"
            />
           
            <!-- Producto 6 -->
              <ProductCard  
                productImage="🧼"
                productBrand="Osspret"
                productTitle="Shampoo Antialérgico para Mascotas - 250ml"
                productPrice="$6.500"
            />

        </div>
    </main>
</Layout>