---
import './footer-styles.css'
---

<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h4>Categorías</h4>
      <ul>
        <li><a href="productos.html">Perros</a></li>
        <li><a href="productos.html">Gatos</a></li>
        <li><a href="productos.html">Aves y Peces</a></li>
        <li><a href="productos.html">Ofertas Especiales</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Servicios</h4>
      <ul>
        <li><a href="servicios.html">Veterinaria</a></li>
        <li><a href="servicios.html">Peluquería Canina</a></li>
        <li><a href="servicios.html">Planes Nutricionales</a></li>
        <li><a href="servicios.html">Adopción Responsable</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Nuestra Empresa</h4>
      <ul>
        <li><a href="sobre-nosotros.html">Quiénes Somos</a></li>
        <li><a href="contacto.html">Sucursales</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      &copy; 2026 Puppis Clone - Las Mascotas Primero. Creado con fines de
      referencia e inspiración.
    </p>
  </div>
</footer>
