---
import './header-styles.css'
---

<header>
  <div class="top-bar">🐾 ¡Envío GRATIS en compras mayores a $30.000! 🐾</div>
  <nav class="nav-container">
    <a href="index.html" class="logo">Puppis<span>Clone</span></a>
    <ul class="nav-menu">
      <li><a href="index.html" class="active">Inicio</a></li>
      <li><a href="productos.html">Productos</a></li>
      <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
      <li><a href="servicios.html">Servicios</a></li>
      <li><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>
</header>
